.App {
  text-align: center;
  background-color: rgb(32, 29, 52);
  margin: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 20px;
  color: white;
  font-weight: 130;
}

.title {
  color: #fff; /* Text color */
  font-weight: 300;
  align-items: center;
  text-align: center;
}
.input {
  margin-top: 30px;
  padding-bottom: 0px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.analytics {
  margin-bottom: 20px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.userPart {
  margin-right: 30px;
  padding-right: 20px;

}

.infoPart {
  margin-left: 10px;
  text-align: left;
  padding-left: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.alert {
  background-color: black;
  padding: 6px;
  margin-bottom: 10px;
}

.userInfo{
margin-top: 25px;
padding-top: 20px;
padding-bottom: 2px;
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: -40px;
/* background-color: #32415e46; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.history {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 100;
  background-color: rgb(38, 40, 78);
  padding-bottom: 30px;
  border-radius: 5px;
  margin-top: -90px; /* Adjust this value to move it up */
  padding-top: -20px; /* This line seems unnecessary and can be removed */
}

.fraudGraph{
  font-weight: 130;
}

.circle-container {
  text-align: center;
}

.input {
  margin-bottom: 30px;
  padding-left: 15px;
  margin-right: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.score {
  font-size: inherit;
  color: inherit;
}

.graphs{
  display: flex;
  justify-content: space-around;
}

.anal {

  margin-bottom: 40px;
}

.loading {
  font-size: small;
  align-items: center;
}

.fraudScoreText {
  align-items: left;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.slidecontainer {
  display: flex;
  flex-direction: row;

}

.sliderValue {
  margin-left: 20px;
  margin-bottom: 5px;
}
.Threshold{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-inline: 10px;
}


.slider {
  -webkit-appearance: none;
  width: 150%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}